:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
  --gradient: linear-gradient(90deg, #40A2D8 0%, #002251 100%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white);
  overflow: auto;
}

/* MAIN PHOTO */

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: auto;
  margin-bottom: 200px;
}

.main-container .image-container {
  grid-column: 1/5;
  grid-row: 1/2;
  margin: 100px 50px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--dark-blue);
  border-radius: 10px;
  background-image: url('./img/haircut2.jpg');
  background-size: cover;
  height: 1060px;
  color: var(--white);
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  text-decoration-line: underline;
  text-align: center;
}

/* GALLERY SECTION  */

.gallery-previews {
  grid-column: 1/5;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 50px;
  padding: 0 50px 0 50px;
}



.gallery-previews .preview-one {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.gallery-previews .preview-two {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.gallery-previews .preview-three {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.gallery-previews .preview-four {
  grid-column: 3/4;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.gallery-previews .preview-one img,
.gallery-previews .preview-two img,
.gallery-previews .preview-three img,
.gallery-previews .preview-four img {
  border: 10px solid var(--dark-blue);
  border-radius: 10px;
  object-fit: cover;
}

.gallery-previews .preview-one:hover,
.gallery-previews .preview-two:hover,
.gallery-previews .preview-three:hover,
.gallery-previews .preview-four:hover {
  background-color: var(--white);
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}

.gallery-previews h1{
  grid-row: 2/3;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
}

.gallery-previews p {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

/* BOTTOM SECTION */

.third-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 5%;
  width: auto;
}

.third-container .featured-section {
  display: grid;
  /* grid-column: 1/2;
  grid-row: 1/4; */
  grid-row: 1/2;
  margin: 0 100px 0 100px;
  border: 5px solid var(--dark-blue);
  border-radius: 10px;
  padding: 30px 71px 35px 14px;
  width: auto;
  height: 100%;

}

.third-container .featured-section img {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  transform: scaleX(-1);
  margin: 20px 84px 0 40px;
  border-radius: 5px;
}

.third-container .featured-section h1 {
  grid-row: 1/2;
  grid-column: 1/2;
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 50px 0 0 184px;
}

.third-container .featured-section p {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  margin-bottom: 85px;
  padding: 0 50px 0 50px;
}


.third-container .featured-section .featured-tag {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  height: 47px;
  letter-spacing: 0.1em;
  line-height: 47px;
  background-color: var(--dark-blue);
  position: relative;
  margin: 0px 900px 0px 298px;
  left: -204px;
  top: -185;

}

.third-container .hairstyle-section {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-row: 2/3;
  height: 50%;
  width: auto;
  margin: 25px 100px 0 100px;
  background-color: var(--light-gray);
  color: var(--white);
  border: 5px solid var(--dark-blue);
  border-radius: 10px;
  font-family: "Outfit", sans-serif;
}

.third-container .hairstyle-section .hairstyle-tag {
  padding: 0 25px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  height: 47px;
  letter-spacing: 0.1em;
  line-height: 47px;
  background-color: var(--dark-blue);
  position: relative;
  margin: 0 960px 20px 298px;
  top: -310px;
  left: -190;
}

.third-container .hairstyle-section p {
  grid-row: 1/2;
  font-size: 25px;
  margin: 75px 23px 0 20px;
  text-align: start;
  width: auto;
  text-align: center;
}

.third-container .hairstyle-section h1 {
  grid-row: 2/3;
  text-align: center;
  font-size: 35px;

}

/* .third-container .third-section {
  grid-row: 3/4;
  margin: 15px 0 0 0;
  border: 5px solid var(--dark-blue);
  background-color: var(--light-gray);
  border-radius: 10px;
  width: 50%;
  height: 50%;

} */

/* .third-container .third-section img {
  border-radius: 10px;
  object-fit: contain;
  position: absolute;
  top: 2144;
  right: 390;
  height: 40%;
} */

/* .third-container .third-section p {
  font-family: "Outfit", sans-serif;
  color: white;
  font-size: 25px;
  text-align: end;
  margin: 50px 0 0 0;
  padding: 0 30px 0 0;
} */

footer {
  background-color: var(--light-gray);
  color: var(--white);
  height: 10vh;
  overflow: hidden;
}

.footer-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 0 0;
}

