:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white);

}

header {
  grid-column: 1/4;
  background-color: var(--light-blue);
  height: 20%;
}

.logo {
  margin-left: 300px;
  margin-top: 80px;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Wallpoet', sans-serif;
  font-size: 100px;
  width: 35%;
  text-align: center;
}