:root {
  --black: #000000;
  --blue: #0B60B0;
  --light-blue: #40A2D8;
  --tan: #F0EDCF;
  --dark-blue: #002251;
  --white: #FFFFFF;
  --teal: #002f4c;
  --light-gray: #009696;
  --gradient: linear-gradient(90deg, #40A2D8 0%, #002251 100%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--white);
  overflow: auto;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15%;
}

.main-container .left-section {
  grid-column: 1/2;
  width: 60%;
  margin: 100px 0 0 240px;
  font-family: "Outfit", sans-serif;
}

.main-container .left-section #news {
  grid-column: 1/2;
  text-align: start;
  font-size: 50px;
  padding-left: 20px;
}

.left-section #news-paragraph {
  grid-column: 1/2;
  text-align: start;
  font-size: 25px;
}

.main-container .right-section {
  /* grid-column: 2/3; */
  border: 5px solid var(--dark-blue);
  background-color: var(--light-blue);
  border-radius: 10px;
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
  margin: 150px 0 0 0;
  padding: 0 25px 5px 25px;
  height: 90%;
  width: 70%;
  font-family: "Outfit", sans-serif;
}

.main-container .right-section h1 {
  grid-row: 1/2;
  text-align: center;
  font-size: 35px;
}


.right-section p {
  font-size: 18px;
}

footer {
  background-color: var(--light-gray);
  color: var(--white);
  height: 10vh;
}

.footer-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0 0 0;
}
